.Move_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top_row {
    display: flex;
    gap: 50px;
}

.movie_img_wrap {
    width: 650px;
}

.movie_img {
    width: 100%;
    vertical-align: top;
}
.movie_description_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.genres {
    display: flex;
    align-items: center;
    gap: 10px
}

.genresRow {
    display: flex;
    gap: 20px;
}

.genresRow > p {
    margin: 0;
}

.bottom_row {

}