.MovieListCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.CardDetails {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.CardPoster {
    width: 100%;
}

.CardPoster > img {
    width: 100%;
    height: auto;
}

/*.MovieListCard > img {*/
/*    margin: 15px;*/
/*    width: 100%;*/
/*    max-width: 300px;*/
/*    height: auto;*/
/*}*/